WEBAGENT_HOST=127.0.0.1
WEBAGENT_PORT=8787
WEBAGENT_PUBLIC_BASE_URL=
WEBAGENT_BRIDGE_NAME=WebAgent Local Bridge
WEBAGENT_REQUIRE_APPROVAL=1
WEBAGENT_ALLOW_ORIGIN=auto
CODEX_CLI_PATH=
CLAUDE_CODE_EXE=
CODEX_VERIFY_FINAL=1
CODEX_AGENT_DOC_PATHS=
CODEX_AGENT_INSTRUCTIONS_PATH=
SQL_CONN_STR=
